.skills{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.skills__titulo{
    text-align: center;
    margin-bottom: 2rem;
}

.skills__line{
    display: flex;
    justify-content: space-between;
}

.skills__img{
    width: 100px;
}

/*Tablet*/
@media (max-width: 920px) {
    .skills__line{
        flex-wrap: wrap;
        justify-content: center;
    }

}

/*Mobile*/
@media (max-width: 425px) {
    
}